$primary-color: #0174e6;
$secondary-color: #e28700;
$dark-text : #0e2045;
$light-text : #d9e2f0;
$black-light : #0e2045cc;
$border-color : #e4e3e1;
$white-color: #fff;

:export {
  bgLight: $white-color;
  primaryColor: $primary-color;
  secColor: $secondary-color;
  darkTextColor : $dark-text;
  lightTextColor : $light-text;
  blackLightColor : $black-light;
  borderColor1 : $border-color;
}
